
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.important {
  font-weight: bold;
}
.more {
  font-family: Arial, sans-serif;
  margin: 20px;
}
.more h1 {
  color: #333;
}
.more h2 {
  color: #666;
}
.more p, .more li {
  color: #333;
  line-height: 1.6;
}